.snippet {
    position: static;
    top: 0;
    right: 0;
}

.snippet-p {
    background-color: chocolate;
    color: #fff;
    display: table-cell;
    width: 20px;
    height: 20px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

